* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

header {
    height: 70px;
    margin: 20px;
    width: 100%;
}

main {
    margin: 20px;
}

main h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.box {
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    margin-bottom: 20px;
}